<div class="title">
    Cache Usage
</div>
<table>
    <colgroup>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
        <col width="12%"/>
    </colgroup>
    <tr>
        <th>Total Calls</th>
        <td>{{ cache_calls }}</td>
        <th>Total Time</th>
        <td>{{ cache_time }}ms</td>
        <th>Hits</th>
        <td>{{ cache.hits }}</td>
        <th>Misses</th>
        <td>{{ cache.misses }}</td>
    </tr>
    <tr>
        <th>gets</th>
        <td>{{ cache.gets }}</td>
        <th>sets</th>
        <td>{{ cache.sets }}</td>
        <th>deletes</th>
        <td>{{ cache.deletes }}</td>
        <th>get_many</th>
        <td>{{ cache.get_many }}</td>
    </tr>
</table>
{% if cache_stats %}
<div class="title">
    Breakdown
</div>
<table>
    <thead>
        <tr>
            <th>Time&nbsp;(ms)</th>
            <th>Type</th>
            <th>Parameters</th>
            <th>Traceback</th>
        </tr>
    </thead>
    <tbody>
        {% for time, type, params, frame, stack in cache_stats %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ time|floatformat:"4" }}</td>
                <td>{{ type|escape }}</td>
                <td>{{ params|escape }}</td>
                <td><a href="javascript:djDebugWindow('?djDebug=Cache&amp;op=explain', {stack: {{ stack }}});">{{ frame.3.0 }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}