<ul id="navigation">
	<li class="close">Close Panel</li>
</ul>
<h1>Request Headers</h1>
<table class="data" border="0" cellspacing="0" cellpadding="0"> 
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in headers.iteritems %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ key|escape }}</td>
                <td>{{ value|escape }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>