<div class="title">
    SQL Usage
</div>
<ul class="tabSet">
    <li class="active" rel="tab:all"><a href="#">All Queries</a></li>
    <li rel="tab:unique"><a href="#">Unique Queries</a></li>
</ul>
<div id="tab_all">
    <table>
        <colgroup>
            <col style="width:50px;"/>
            <col/>
        </colgroup>
        <thead>
            <tr>
                <th>Time&nbsp;(ms)</th>
                <th>Query</th>
            </tr>
        </thead>
        <tbody>
            {% for time, query, raw_query, params, stack in queries %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ time|floatformat:"4" }}</td>
                    <td><a href="javascript:djDebugWindow('?djDebug=SQL&amp;op=explain&amp;sql={{ raw_query|urlencode }}&amp;params={{ params|urlencode }}', {stack: {{ stack }}});">{{ query|escape }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="tab_unique" style="display:none;">
    <table>
        <colgroup>
            <col style="width:50px;"/>
            <col/>
        </colgroup>
        <thead>
            <tr>
                <th>Time&nbsp;(ms)</th>
                <th>Executions</th>
                <th>Query</th>
            </tr>
        </thead>
        <tbody>
            {% for query, time, number in query_groups %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ time|floatformat:"4" }}</td>
                    <td>{{ number }}</td>
                    <td>{{ query|escape }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>