<h1>SQL Usage</h1>
<ul class="tabSet">
	<li class="close">Close Panel</li>
	{% if queries %}<li class="filterContainer"><input class="filter" type="text" value="Filter results"></li>{% endif %}
</ul>
{% if queries %}
<ul class="tabSet">
	<li rel="tab_all" class="current">All Queries</li>
	<li rel="tab_unique">Unique Queries</li>
</ul>
<div id="tab_all" class="queries">
	<table class="data" border="0" cellspacing="0" cellpadding="0"> 
		<colgroup>
			<col style="width:50px;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
				<th>Time&nbsp;(ms)</th>
				<th>Query</th>
			</tr>
		</thead>
		<tbody>
			{% if queries %}
				{% for time, query, raw_query, params, stack in queries %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td>{{ time|floatformat:"4" }}</td>
					<td><a href="javascript:djDebugWindow('djDebug=SQL&amp;op=explain&amp;sql={{ raw_query|urlencode }}&amp;params={{ params|urlencode }}', {stack: {{ stack }}});">{{ query|escape }}</td>
				</tr>
				{% endfor %}
			{% else %}
				<tr class="error-message">
					<td colspan="100">
						<strong>No SQL queries.</strong>
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
</div>
<div id="tab_unique" class="queries" style="display:none;">
	<table class="data" border="0" cellspacing="0" cellpadding="0"> 
		<colgroup>
			<col style="width:50px;"/>
			<col/>
		</colgroup>
		<thead>
			<tr>
			<th>Time&nbsp;(ms)</th>
			<th>Executions</th>
			<th>Query</th>
			</tr>
		</thead>
		<tbody>
		{% if query_groups %}
			{% for query, time, number in query_groups %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td>{{ time|floatformat:"4" }}</td>
				<td>{{ number }}</td>
				<td>{{ query|escape }}</td>
			</tr>
		
			{% endfor %}
		{% else %}
			<tr class="error-message">
				<td colspan="100">
					<strong>No SQL queries.</strong>
				</td>
			</tr>
		{% endif %}
		</tbody>
	</table>
</div>
{% else %}
<div class="container">There were no SQL queries executed on this page.</div>
{% endif %}