{% load i18n %}
<div class="clearfix">
	<ul class="stats">
		{% for alias, info in databases %}
			<li>
				<strong class="label"><span style="background-color: rgb({{ info.rgb_color|join:", " }})" class="color">&nbsp;</span> {{ alias }}</strong>
				<span class="info">{{ info.time_spent|floatformat:"2" }} ms ({% blocktrans count info.num_queries as num %}{{ num }} query{% plural %}{{ num }} queries{% endblocktrans %})</span>
			</li>
		{% endfor %}
	</ul>
</div>

{% if queries %}
	<table>
		<thead>
			<tr>
				<th class="color">&nbsp;</th>
				<th class="query" colspan="2">{% trans 'Query' %}</th>
				<th class="timeline">{% trans 'Timeline' %}</th>
				<th class="time"><a href="#" onclick="jQuery('.sql_table_body').toggle(); return false;" style="color:#036DBE;">{% trans 'Time (ms)' %}</a></th>
				<th class="actions">{% trans "Action" %}</th>
			</tr>
		</thead>
		<tbody class="sql_table_body">
			{% include "debug_toolbar/panels/sql_table_body.html" %}
		</tbody>
		<tbody class="sql_table_body djUnselected">
			{% include "debug_toolbar/panels/sql_table_body.html" with queries=queries_sorted %}
		</tbody>
	</table>
{% else %}
	<p>No SQL queries were recorded during this request.</p>
{% endif %}
