<ul class="tabSet">
	<li class="close">Close Panel</li>
	<li class="back">&laquo; Back</li>
</ul>

<h1>SQL Explain</h1>
<div class="container">
	<dl>
		<dt>Query:</dt>
		<dd><pre class="sql-query">{{ sql|escape|linebreaksbr }}</pre></dd>
		<dt>Parameters:</dt>
		<dd>{{ params|join:", "|escape }}</dd>
	</dl>
</div>
<table class="data" border="0" cellspacing="0" cellpadding="0"> 
	<thead>
		<tr>
		{% for header in headers %}
			<th>{{ header|title|escape }}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for row in explain %}
		<tr class="{% cycle 'odd' 'even' %}">
		{% for value in row %}
			<td>{{ value|escape }}</td>
		{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>

<h1>Traceback</h1>
<div class="container">
	<ul class="traceback" id="sql_explain_traceback">
	</ul>
</div>
<script type="text/javascript">
var ref = $('.sql-query');
ref.html(ref.text().replace(/(ANALYZE|MATCH|AGAINST|ALL|ASC|AS|ALTER|AND|ADD|AUTO_INCREMENT|BETWEEN|BINARY|BOTH|BY|BOOLEAN|CHANGE|CHECK|COLUMNS|COLUMN|CROSS|CREATE|DATABASES|DATABASE|DATA|DELAYED|DESCRIBE|DESC|DISTINCT|DELETE|DROP|DEFAULT|ENCLOSED|ESCAPED|EXISTS|EXPLAIN|FIELDS|FIELD|FLUSH|FOR|FOREIGN|FUNCTION|FROM|GROUP|GRANT|HAVING|IGNORE|INDEX|INFILE|INSERT|INNER|INTO|IDENTIFIED|IN|IS|IF|JOIN|KEYS|KILL|KEY|LEADING|LIKE|LIMIT|LINES|LOAD|LOCAL|LOCK|LOW_PRIORITY|LEFT|LANGUAGE|MODIFY|NATURAL|NOT|NULL|NEXTVAL|OPTIMIZE|OPTION|OPTIONALLY|ORDER|OUTFILE|OR|OUTER|ON|PROCEEDURE|PROCEDURAL|PRIMARY|READ|REFERENCES|REGEXP|RENAME|REPLACE|RETURN|REVOKE|RLIKE|RIGHT|SHOW|SONAME|STATUS|STRAIGHT_JOIN|SELECT|SETVAL|SET|TABLES|TEMINATED|TO|TRAILING|TRUNCATE|TABLE|TEMPORARY|TRIGGER|TRUSTED|UNIQUE|UNLOCK|USE|USING|UPDATE|VALUES|VARIABLES|VIEW|WITH|WRITE|WHERE|ZEROFILL|TYPE|XOR)/g, '<br /><span class="hilight">$1</span>'));

var traceback = $('#sql_explain_traceback');
$(locals.stack).each(function(index)
{
	traceback.append('<li>'+this+'</li>');
});

traceback.find('li:odd').addClass('odd');
</script>