<div class="title">SQL Explain</div>
<div class="container">
    <dl>
        <dt>Query:</dt>
        <dd style="white-space:pre-wrap;">{{ sql|escape|linebreaksbr }}</dd>
        <dt>Parameters:</dt>
        <dd>{{ params|join:", "|escape }}</dd>
    </dl>
</div>
<table>
    <thead>
        <tr>
            {% for header in headers %}
            <th>{{ header|title|escape }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in explain %}
            <tr class="{% cycle 'row1' 'row2' %}">
                {% for value in row %}
                <td>{{ value|escape }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="title">Traceback</div>
<div class="container">
<ul class="traceback" id="sql_explain_traceback">
</ul>
<script type="text/javascript">
    var frame;
    var el = document.getElementById('sql_explain_traceback');
    for (var i=0; (frame = locals.stack[i]); i++) {
        var li = document.createElement('li');
        li.innerHTML = frame[0] + ':' + frame[1] + ' (' + frame[2] + ')';
        el.appendChild(li);
    }
</script>
</div>