<ul class="tabSet">
	<li class="close">Close Panel</li>
</ul>

<h1>Templates</h1>
<table class="data" border="0" cellspacing="0" cellpadding="0"> 
	<thead>
		<tr>
			<th>Time&nbsp;(ms)</th>
			<th>Path</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for time, func, args, kwargs, stack in template_calls_list %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td>{{ time|floatformat:"4" }}</td>
			<td>{{ args.0.name|escape }}</td>
			<td><a href="javascript:djDebugWindow('djDebug=Cache&amp;op=explain', {stack: {{ stack }}});" class="infoIcon">Traceback</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>