<style type="text/css">
/* Frame -- no design */
#djDebug *
{
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}
#djDebugToolbar {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	right: 0;
	z-index:100000000;
}
#djDebug .panelContent {
	display:none;
	position:absolute;
	margin:0;
	padding:0 10px;
	top:35px;
	width:auto;
	left:10px;
	right:10px;
	bottom:10px;
	z-index:1000000;
	overflow:auto;
}
#djDebug #djDebugToolbar li
{
	display: inline;
	float: left;
}
#djDebug #djDebugToolbar li a,
#djDebug #djDebugToolbar li span {
	display: block;
	float: left;
}

/* Design by mape */
#djDebug {
	font-family: arial;
	font-size: 11px;
	min-width: 680px;
	margin: 20px;
}
#djDebug .panelContent, #djDebug #djDebugToolbar {
	background: #073828;
	color: #fff;
	border: 2px solid #123020;
}
/* Toolbar */
#djDebug #djDebugToolbar
{
	clear: both;
	background: #174631;
	border: 2px solid #123020;
	border-left: 0;
	border-right: 0;
	margin: 0 0 10px 0;
	padding: 2px 5px;
	height: 18px;
	text-transform: lowercase;
	line-height: 12px;
}
#djDebug #djDebugToolbar li span,
#djDebug #djDebugToolbar li a {
	margin: 0 2px;
	padding: 2px 5px;
}
#djDebug #djDebugToolbar li span
{
	font-size: 10px;
	opacity: 0.3;
}
#djDebug #djDebugToolbar #djDebugButton span
{
	opacity: 1;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
}
#djDebug #djDebugToolbar li a
{
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #143e2b;
	font-size: 11px;
	border: 1px solid #173a28;
	color: #76a244;
	cursor: pointer;
	text-decoration: none;
}
#djDebug #djDebugToolbar li.active a,
#djDebug #djDebugToolbar li a:hover
{
	background: #265436;
	border: 1px solid #173a28;
	color: #FFF;
}
#djDebug #djDebugToolbar #djDebugHide
{
	float: right;
}
/* Content */
#djDebug .panelContent .close { float: right; font-size: 11px; font-weight: bold; color: #fff; margin-left: 10px; }
#djDebug .panelContent .title, #djDebug .panelContent ul,
#djDebug .panelContent dl, #djDebug .panelContent p {
	margin: 10px 5px;
}
#djDebug .panelContent .title
{
	color: #9dcc49;
	font-size: 15px;
}
#djDebug .panelContent table
{
	margin-bottom: 5px;
	width: 100%;
}
#djDebug .panelContent th
{
	background: #9dcc49;
	color: #000;
	font-weight: bold;
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
	padding: 3px 7px;
	text-align: left;
	cursor: pointer;
}
#djDebug .panelContent th.active
{
	background: #b6d977;
}
#djDebug .panelContent th.headerSortUp
{ 
    background: #b6d977 url(data:image/png;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) center right no-repeat; 
	background-position: center right;
}
#djDebug .panelContent th.headerSortDown
{ 
    background: #b6d977 url(data:image/png;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7) center right no-repeat; 
}
#djDebug .panelContent td
{
	background: transparent;
	padding: 5px 10px;
	font-size: 11px;
}
#djDebug .panelContent tr.row2 td
{
	background: #0e4835;
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#djDebug .panelContent a { color: #fff; }
#djDebug .panelContent dt {
	float: left;
	clear: left;
	width: 100px;
	color: #fff;
	font-weight: bold;
}
#djDebug .panelContent dd { 
	padding-left: 110px;
}
#djDebug .panelContent .tabSet { clear: both; height: 30px; margin: 10px 0 0 0; }
#djDebug .panelContent .tabSet li a
{
	float: left;
	-icab-border-top-right-radius: 10px;
	-icab-border-top-left-radius: 10px;
	-khtml-border-top-right-radius: 10px;
	-khtml-border-top-left-radius: 10px;
	-o-border-top-right-radius: 10px;
	-o-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	background: #143e2b;
	margin: 0 2px;
	padding: 5px 10px;
	font-size: 16px;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
}
#djDebug .panelContent .tabSet li.active a,
#djDebug .panelContent .tabSet li a:hover
{
	opacity: 1;
	background: #0e4835;
}
#djDebug .panelContent .container
{
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-o-border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #164435;
	padding: 8px;
	margin: 0 0 10px 0;
	clear: both;
	background: #0c3c2a;
}
#djDebug .panelContent .traceback
{
	margin: 5px;
}
#djDebug .panelContent .traceback li
{
	padding: 5px 10px;
}
#djDebug .panelContent .traceback li.row2
{
	background: #0e4835;
	-icab-border-radius: 5px;
	-khtml-border-radius: 5px;	
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
</style>

<div id="djDebug">
	<div id="djDebugToolbar">
		<ul id="djDebugPanelList">
			<li id="djDebugButton"><span>Django Debug</span></li>
			{% for panel in panels %}
				<li rel="{{ panel.dom_id }}">
					{% if panel.content %}
						<a href="{{ panel.url|default:"#" }}" onclick="djDebugToggle(this.parentNode)" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
					{% else %}
						<span>{{ panel.title }}</span>
					{% endif %}
				</li>
			{% endfor %}
			<li id="djDebugHide"><a href="javascript:djDebugHide();">X</a></li>
		</ul>
	</div>
	{% for panel in panels %}
		{% with panel.content as content %}
			{% if content %}
				<div id="{{ panel.dom_id }}" class="panelContent">
					<div class="title">
						<a href="javascript:djDebugCloseAll()" class="close">Close</a>
					<!-- <h1>{{ panel.title }}</h1> -->
					</div>
					<div class="content">
					    {{ content|safe }}
					</div>
				</div>
			{% endif %}
		{% endwith %}
	{% endfor %}
	<div id="djDebugWindow" class="panelContent">
	    <div class="title">
			<a href="javascript:djDebugCloseAll()" class="close">Close</a>
	        <a href="javascript:djDebugWindowClose();" class="close">Back</a>
	    </div>
	    <div class="content">
    	</div>
    </div>
</div>
<script type="text/javascript">
var djDebugLastObj = null;
function djDebugToggle(tag) {
    if (djDebugLastObj) {
        djDebugLastObj.className = '';
        document.getElementById(djDebugLastObj.getAttribute('rel')).style.display = 'none';
    }
    djDebugWindowClose();
    var obj = document.getElementById(tag.getAttribute('rel'));
    if (!obj) return;
    if (djDebugLastObj == tag) {
        djDebugLastObj = null;
        return;
    }
    if (obj.style.display != 'block') {
        obj.style.display = 'block';
        tag.className = 'active';
        djDebugLastObj = tag;
    }
}
function djDebugTab(container) {
    var active_element = null;
    var init = function(container) {
        var el, rel, reltag, parts;
        var els = container.getElementsByTagName('li');
        for (var i=0; (el = els[i]); i++) {
            rel = el.getAttribute('rel');
            if (rel) var rel = rel.split(' ');
            else continue;
            for (var j=0; (reltag = rel[j]); j++) {
                parts = reltag.split(':');
                if (parts[0] == 'tab') {
                    el.container = document.getElementById('tab_' + parts[1]);
                    el.onclick = function() {
                        if (this.tagName == 'a') show(this.parentNode);
                        else show(this);
                    };
                }
            }
            if (el.className == 'active') active_element = el;
        }
    };
    var show = function(obj) {
        if (active_element == obj) return;
        hide(active_element);
        obj.container.style.display = 'block';
        obj.className = 'active';
        active_element = obj;
    };
    var hide = function(obj) {
        obj.container.style.display = 'none';
        obj.className = '';
        if (active_element = obj) active_element = null;
    };
    init(container);
}
function djDebugClose() {
    if (!djDebugLastObj) return;
    djDebugLastObj.className = '';
    document.getElementById(djDebugLastObj.getAttribute('rel')).style.display = 'none';
    djDebugLastObj = null;
}
function djDebugWindowHtml(text, locals) {
    var obj = document.getElementById('djDebugWindow');
    var frame = obj.getElementsByTagName('div')[1];
    frame.innerHTML = text;
    // Evaluate script tags
    var els = frame.getElementsByTagName('script');
    var el;
    for (var i=0; (el = els[i]); i++) {
        eval(el.text);
    }
}
djDebugLocals = {};
function djDebugWindow(url, locals) {
    // this will properly use bind when we switch to jQuery
    djDebugLocals = locals;
    var obj = document.getElementById('djDebugWindow');
    djDebugWindowHtml('Loading request...');
    djDebugHttp.open('get', url, true);

    djDebugHttp.onreadystatechange = function() {
        if (djDebugHttp.readyState == 4) {
            // XXX: why does status return 0?
            if (djDebugHttp.status == 200 || djDebugHttp.status == 0) {
                locals = djDebugLocals;
                djDebugWindowHtml(djDebugHttp.responseText, locals);
            }
            else {
                djDebugWindowHtml('There was an error loading the document.');
            }
        }
    }
    djDebugHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
    try {
      djDebugHttp.send(null);
    }
    catch (ex) {
      djDebugWindowHtml('There was an error loading the document.');
    }
    obj.style.display = 'block';
}
function djDebugCreateXMLHttpRequest() {
  var http;
  if (window.XMLHttpRequest) { // Mozilla, Safari,...
    http = new XMLHttpRequest();
    if (http.overrideMimeType) {
      // set type accordingly to anticipated content type
      http.overrideMimeType('text/html');
    }
  }
  else if (window.ActiveXObject) { // IE
    try {
      http = new ActiveXObject("Msxml2.XMLHTTP");
    } catch (e) {
      try {
        http = new ActiveXObject("Microsoft.XMLHTTP");
      } catch (e) {}
    }
  }
  if (!http) {
    alert('Cannot create XMLHTTP instance');
    return false;
  }
  return http;
}
var djDebugHttp = djDebugCreateXMLHttpRequest();
function djDebugWindowClose() {
    var obj = document.getElementById('djDebugWindow');
    obj.style.display = 'none';
}
function djDebugCloseAll() {
    djDebugClose();
    djDebugWindowClose();
}
function djDebugHide() {
    var obj = document.getElementById('djDebug');
    obj.style.display = 'none';
}
var el;
var els = document.getElementById('djDebug').getElementsByTagName('ul');
for (var i=0; (el = els[i]); i++) {
    if (el.className == 'tabSet') {
        new djDebugTab(el);
    }
}
</script>