<script type="text/javascript">
var djDebugLastObj = null;
function djDebugToggle(obj) {
	if (djDebugLastObj) djDebugLastObj.style.display = 'none';
	var obj = document.getElementById(obj);
	if (!obj) return;
	if (djDebugLastObj == obj) {
		djDebugLastObj = null;
		return;
	}
	if (obj.style.display != 'block') {
		obj.style.display = 'block';
		djDebugLastObj = obj;
	}
}
function djDebugClose() {
	if (!djDebugLastObj) return;
	djDebugLastObj.style.display = 'none';
	djDebugLastObj = null;
}
</script>
<style type="text/css">
#djDebug * { font: normal 12px Arial, sans-serif; margin: 0; padding: 0; float: none; position: static; }
#djDebugToolbar {
	height:30px;
	background:#C7FCD3;
	color:#000;
	z-index:100000000;
	border:1px solid #06171D;
	border-width:1px 0;
}
#djDebugToolbar strong { color:#6d2738; }
#djDebugToolbar a { color: #06171D; }
#djDebug .panelContent {
	display:none;
	position:absolute;
	margin:0;
	padding:5px;
	top:35px;
	width:auto;
	left:5px;
	right:5px;
	bottom:5px;
	background:white;
	color:black;
	border:1px solid black;
	z-index:1000000;
	overflow:auto;
	background:#c7fcd3;
	color:#000;
}
#djDebug .panelContent p { padding: 0 5px; }
#djDebug .panelContent p, #djDebug .panelContent table,
#djDebug .panelContent ul, #djDebug .panelContent dl { margin: 5px 0; }
#djDebug .title .close { float: right; font-weight: bold; }
#djDebug .panelContent dt, #djDebug .panelContent dd { display: block; }
#djDebug .panelContent dd { margin-left: 10px; }
#djDebugToolbar ul { margin: 0; padding: 0 10px; }
#djDebugToolbar li { display: inline; width: auto; position: relative; float: none; margin: 0; padding: 0; height: 20px; line-height: 30px; padding: 8px 0; }
#djDebugToolbar li { margin-right: 10px; border-right: 1px solid #06171D; padding-right: 10px; }
#djDebug .title { font-weight: bold; font-size: 15px; margin-bottom: 5px; }
#djDebug .title a { float: right; font-weight: bold; font-size: 10px; }
#djDebug th, #djDebug td { padding: 5px; }
#djDebug td { background:#fff; }
#djDebug .row2 td { background:#e9e9e9; }
</style>

<div id="djDebug">
	<div id="djDebugToolbar">
		<ul id="djDebugPanelList" style="list-style:none;">
			<li id="djDebugButton" style="color:red; font-weight:bold; display:inline;">DEBUG</li>
			{% for panel in panels %}
				<li style="display:inline;">
					{% if panel.content %}
						<a href="{{ panel.url|default:"#" }}" onclick="djDebugToggle('{{ panel.dom_id }}')" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
					{% else %}
						{{ panel.title }}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	{% for panel in panels %}
		{% with panel.content as content %}
			{% if content %}
				<div id="{{ panel.dom_id }}" class="panelContent">
					<div class="title">
						<a href="javascript:djDebugClose()" class="close">Close</a>
					<!-- <h1>{{ panel.title }}</h1> -->
					</div>
					{{ content|safe }}
				</div>
			{% endif %}
		{% endwith %}
	{% endfor %}
</div>
