{% if DEBUG %}
    <link href="{{ base_url }}?djDebugStatic=djDebugToolbar.css" rel="stylesheet" type="text/css">
{% else %}
    <link href="{{ base_url }}?djDebugStatic=djDebugToolbar.compressed.css" rel="stylesheet" type="text/css">
{% endif %}

{% ifnotequal debug_show_cookie "false" %}
	<div class="hide" id="djDebugToggleToolbar">+</div>
	<div id="djDebug">
{% else %}
	<div id="djDebugToggleToolbar">+</div>
	<div class="hide" id="djDebug">
{% endifnotequal %}
	<ul id="djDebugPanelList">
		<li id="djDebugCloseToolbar">X</li>
		<li class="name">django debug toolbar<span class="version">django: {{ django_version }}</span></li>
		{% for panel in panels %}
			<li class="djDebugButton{% if not panel.has_content %} disabled{% endif %}" rel="{{ panel.dom_id }}">
				{% if panel.has_content %}
					<a href="{{ panel.url|default:"#" }}" title="{{ panel.title }}" class="{{ panel.dom_id }}">{{ panel.title }}</a>
				{% else %}
					<span>{{ panel.title }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	<div id="decoration">
		<div class="roundLeft"></div><div class="roundRight"></div>
	</div>
	{% for panel in panels %}
		{% if panel.has_content %}
			<div id="{{ panel.dom_id }}" class="panelContent">
				{{ panel.content|safe }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="panelContent" id="djDebugTempPanel" style="">
		<div id="djDebugTempPanelContent"></div>
	</div>
</div>

<script type="text/javascript" async="true">
var djDebugBaseUrl = '{{ base_url }}';
(function(){
    function dynamicLoadScript(url)
    {
       var e = document.createElement("script");
       e.async = true;
       e.src = url;
       e.type="text/javascript";
       document.getElementsByTagName("head")[0].appendChild(e);
    }
    // Don't load the jQuery library if the user has already
    if (typeof jQuery == "undefined") {
    	dynamicLoadScript("{{ base_url }}?djDebugStatic=jquery.js");
    }

    if (window.parent == window) {
        // Don't load the jQuery tablesorter plugin if the user has already
        if (!$.tablesorter) {
        	dynamicLoadScript("{{ base_url }}?djDebugStatic=jquery.tablesorter.js");
        }
        {% if DEBUG %}
            dynamicLoadScript("{{ base_url }}?djDebugStatic=djDebugToolbar.js");
        {% else %}
            dynamicLoadScript("{{ base_url }}?djDebugStatic=djDebugToolbar.compressed.js");
        {% endif %}
    } else {
        $('#djDebugToggleToolbar').remove();
        $('#djDebug').remove();
    }  
}());
</script>